/* Basic styling for the tabs */
.nav-tab-wrapper {
    margin-bottom: 20px;
}

.tab-content {
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
}

.wpmetrics-green {
    color: rgb(69, 189, 69) !important;
    font-weight: bold;
}

tr.active {
    background: rgba(166, 250, 166, 0.25) !important;
    font-weight: bold;
}

tr.warning {
    background: rgba(248, 207, 131, 0.25) !important;
    font-weight: bold;
}